.image-ava {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  /* border-radius: 50%; */
  /* border: 2px solid #355299; */
}

.footer-text {
  color: #8894b1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
.link {
  cursor: pointer;
  opacity: 0.9;
  color: #355299;
  text-decoration: none;
}
.link:hover {
  color: #a68136;
}


/* Базовый стиль для поля ввода */
.input-field {
  outline: none; /* Убирает стандартную обводку */
  width: 53%; /* Ширина поля */
  border: 2px solid #355299; /* Синяя рамка */
  border-radius: 25px; /* Закругленные углы */
  padding: 3% 8.5%; /* Внутренние отступы */
  margin: 5px 0; /* Внешние отступы */
  color: #355299; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  font-weight: bold; /* Жирный текст */
  background-color: #bdcdf6; /* Фоновый цвет */
}

/* Стиль для текста-заполнителя */
.input-field::placeholder {
  color: #355299; /* Цвет текста-заполнителя */
  font-weight: normal; /* Обычный текст */
}

/* Стиль для поля с ошибкой */
.input-field-error {
  outline: none; /* Убирает стандартную обводку */
  width: 53%; /* Ширина поля */
  border: 2px solid red; /* Красная рамка */
  border-radius: 25px; /* Закругленные углы */
  padding: 3% 8.5%; /* Внутренние отступы */
  margin: 5px 0; /* Внешние отступы */
  color: #b18888; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  font-weight: bold; /* Жирный текст */
  background-color: #bdcdf6; /* Фоновый цвет */
}

/* Стиль для текста-заполнителя поля с ошибкой */
.input-field-error::placeholder {
  color: #b18888; /* Цвет текста-заполнителя */
  font-weight: bold; /* Жирный текст */
}
